@page "{id:int}"
@model ECommerceAdminPortal.Pages.Vendors.DeleteModel

<h2>Delete Vendor</h2>

<form method="post">

    <input type="hidden"
           asp-for="Vendor.VendorId" />

    <h4>
        Are you sure you want to delete
        @Model.Vendor.VendorName ?
    </h4>

    <br />

    <button class="btn btn-danger">
        Delete
    </button>

    <a asp-page="Index"
       class="btn btn-secondary">
        Cancel
    </a>

</form>