@page "{id:int}"
@model ECommerceAdminPortal.Pages.Vendors.EditModel

<h2>Edit Vendor</h2>

<form method="post">

    <input type="hidden"
           asp-for="Vendor.VendorId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Vendor.VendorName"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Vendor.Email"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="Vendor.Phone"
               class="form-control" />
    </div>

    <div class="form-check mb-3">

        <input asp-for="Vendor.IsActive"
               class="form-check-input" />

        <label asp-for="Vendor.IsActive"
               class="form-check-label">
            Active
        </label>

    </div>

    <button class="btn btn-primary">
        Update
    </button>

</form>