@page "{id:int}"
@model ECommerceAdminPortal.Pages.Inventory.EditModel

<h2>Adjust Stock</h2>

<form method="post">

    <input type="hidden"
           asp-for="Inventory.InventoryId" />

    <input type="hidden"
           asp-for="Inventory.ProductId" />

    <div class="mb-3">

        <label>Quantity</label>

        <input asp-for="Inventory.Quantity"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Reorder Level</label>

        <input asp-for="Inventory.ReorderLevel"
               class="form-control" />

    </div>

    <button class="btn btn-success">

        Update Stock

    </button>

</form>